@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s all ease-in-out;
}

@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Lato-Black, sans-serif;
    font-size: 1rem;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
}

section {
    position: relative;
}

/********************************************************* START NAVBAR */

ul {
    list-style: none;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 80px;
    /* background: rgba(0, 0, 0, .2); */
}

.navbar .d-flex {
    -ms-flex-align: flex-end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar .logo {
    width: 150px;
    padding: 16px 0;
}

.navbar .logo img {
    width: 100%;
}

.navbar .navigation {
    height: 80px;
    text-align: center;
}

.navbar .navigation li {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    padding: 16px 27px;
    border-radius: 0 0 5px 5px;
    position: relative;
    overflow: hidden;
}

.navbar .navigation li:last-child {
    margin-right: -27px;
}

.navbar .navigation li::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #75C8D6;
    top: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    transform: translateY(-105%);
    transition: .2s all ease-in-out;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    z-index: 50;
}

.navbar .navigation li:hover::after {
    transform: translateY(0%);
}

.navbar .navigation li a {
    color: #fff;
    text-decoration: none;
    font-family: Lato-Regular, sans-serif;
    font-size: 18px;
    line-height: 80px;
    vertical-align: bottom;
    z-index: 999;
    position: relative;
}

.navbar .toggle {
    outline: none;
    border: none;
    width: 50px;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 15px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    display: none;
}

.navbar .toggle span.line {
    display: block;
    background: #75C8D6;
    height: 3px;
    width: 100%;
    margin-bottom: 5px;
}

.navbar .toggle span.line:last-child {
    margin-bottom: 0;
}

/********************************************** END NAVBAR */

/********************************************** START LAND SECTION */

.container {
    margin: 0 auto;
    position: relative;
    width: 1100px;
    max-width: 100%;
}

.land-section {
    background: url('../img/layer-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 111vh;
    min-height: 500px;
    color: #75C8D6;
    align-items: center;
}

.land-section .left-text {
    font-family: Lato-Light, sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    padding-right: 10px;
}

.land-section .left-text span {
    margin-top: -15px;
}

.land-section .left-text h1 {
    align-items: center;
    text-align: right;
    font-family: Lato-Light, sans-serif;
    font-size: 3.75rem;
    line-height: 1.2em;
    text-align: right;
    padding: 0;
}

.land-section .right-text h1 {
    font-size: 8.65625rem;
    line-height: .94em;
    text-transform: uppercase;
    padding: 0;
    padding-left: 10px;
}

.land-section .text-wrap {
    padding: 1.5rem 2.625rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 4px;
}

.slider-dots {
    position: absolute;
    z-index: 500;
    width: 140px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    bottom: 90px;
}

.slider-dots button {
    position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    display: block;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
}

.slider-dots button.active {
    background: #74c6d5c4;
}

.land-section .arrow-wrap {
    width: 34px;
    height: 56px;
}

.land-section .arrow-wrap svg {
    width: 100%;
    height: 100%;
}

.land-section .arrow {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, .3);
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.land-section .arrow:hover {
    color: rgba(255, 255, 255, .8);
}

.land-section .left-arrow {
    left: 0;
    padding-left: 50px;
}

.land-section .right-arrow {
    right: 0;
    padding-right: 50px;
}

/******************************************************** END LAND SECTION */

/******************************************************** START SERVICES SECTION */

.service-section {
    background: url('../img/layer-3.png'), #b24a50;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service-section .card.services .icon {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background: #fff;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
}

.service-section .card.services .icon::after {
    position: absolute;
    content: '';
    width: 115%;
    height: 115%;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #fff;
    top: -9px;
    left: -9px;
}

.service-section .card.services svg {
    height: 65px;
    color: #c8535a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-wrap, .team-section .icon-wrap {
    width: 100%;
    margin-bottom: 1.875em;
}

.card-title {
    color: #fff;
    margin-bottom: 1.6em;
    margin-bottom: 3rem;
}

.service-section.text-title {
    margin-bottom: 2.875rem;
    margin-bottom: 1.53em;
}

.text-title {
    margin-top: 4.125rem;
    margin-bottom: 2.125rem;
}

.m-subtitle {
    margin-bottom: 22px;
}

.row.cards {
    margin-left: -10px;
    margin-right: -10px;
}

.card.services {
    background: rgba(200, 83, 90, .8);
}

.card.team {
    padding: 30px;
}

.card.services {
    padding: 43px 20px;
}

.card {
    border-radius: 4px;
    font-size: 1rem;
}

.p-card {
    padding: 0 10px 0 10px;
}

/******************************************************** END SERVIES SECTION */

/******************************************************** START TEAM SECTION */

.team-section {
    background: url('../img/layer-6.png'), #665464;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team-section .card.team {
    background: rgba(77, 63, 75, .5);
}

.label {
    margin-top: 3.6875rem;
    margin-bottom: 3.3125rem;
}

.label h3 {
    display: inline-block;
    background: #A2CB6C;
    padding: 16px 42px;
    border-radius: 5px;
    color: #fff;
    position: relative;
}

.label h3::after {
    content: '';
    position: absolute;
    color: #A2CB6C;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 0;
    height: 0;
    border-top: .8em solid;
    border-right: .8em solid transparent;
    border-bottom: 0;
    border-left: .8em solid transparent;
}

.team-section .card.team .icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px #9F849A;
}

.team-section .card.team .icon svg {
    height: 90%;
    color: #5B4B58;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
    transition: .01s all ease-in-out;
}

.li-icons {
    justify-content: space-around;
    align-content: center;
}

.li-icons li {
    display: inline-block;
}

.team-media li {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #A5869C;
    position: relative;
    cursor: pointer;
}

.team-media li a, footer li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.team-media svg {
    height: 15px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position {
    font-family: Lato-Regular, sans-serif;
    font-size: 0.875rem;
    color: #A4C873;
    text-align: center;
    position: inline-block;
    margin-top: 3px;
    margin-bottom: 2.3125rem;
}

.text-name {
    color: #A5869C;
    margin: 10px 0 10px 0;
}

.card.team:hover .icon svg {
    color: #DF5C64;
}

.card.team:hover .icon {
    box-shadow: 0 0 0 2px #fff, 0 0 0 6px #B6586E;
}

.card.team:hover .team-media .facebook {
    background: #4D6AA1;
}

.card.team:hover .team-media .twitter {
    background: #8BC2C8;
}

.card.team:hover .team-media .google {
    background: #D85C62;
}

.card.team:hover .team-media .linkedin {
    background: #415E9E;
}

.card.team:hover .text-name {
    color: #fff;
}

.card.team:hover .position {
    color: #DF5C64;
}

/******************************************************** END TEAM SECTION */

/******************************************************** START PORTFOLIO SECTION */

.portfolio-section {
    background: url('../img/layer-14.png'), #81a256;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-section .card.portfolio {
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.portfolio-section .card.portfolio .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .3s all ease-in-out;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: rgba(1, 1, 1, .2);
}

.portfolio-section .card.portfolio .overlay .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/plus.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid #fff;
}

.portfolio-section .card.portfolio:hover .overlay {
    top: 0;
}

.portfolio-section .card.portfolio:hover img {
    filter: blur(3px);
}

.card.portfolio img {
    width: 100%;
    border-radius: 4px;
}

.portfolio-section .card.portfolio .capture {
    background: #fff;
    border-radius: 0 0 4px 4px;
    position: relative;
}

.portfolio-section .card.portfolio .capture::before {
    content: '';
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    width: 0;
    height: 0;
    border-bottom: 20px solid;
    border-right: 20px solid transparent;
    border-top: 0;
    border-left: 20px solid transparent;
    z-index: 30;
}

.portfolio-section .card.portfolio .capture h4 {
    font-family: Lato-Regular, sans-serif;
    font-size: 0.875rem;
    color: #727272;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
}

.tabs-title {
    color: #fff;
    vertical-align: middle;
    line-height: 35px;
}

.portfolio-section .heading-wrap {
    margin-bottom: 3.625rem;
}

.portfolio-section .tabs-wrap {
    align-content: center;
    justify-content: space-between;
}

.portfolio-section .tabs li.tabs-item {
    display: inline-block;
    border-radius: 4px;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: Lato-Bold, sans-serif;
}

.portfolio-section .tabs li.tabs-item.active, .portfolio-section .tabs li.tabs-item:hover {
    background: #F5C247;
}

.portfolio-section .tabs-wrap {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    padding-left: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 2.9375rem;
}

.portfolio-section .tabs li.tabs-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/******************************************************** END PORTFOLIO SECTION */

/******************************************************** START CONTACT SECTION */

.contact-section .heading-wrap {
    margin-bottom: 7.625rem;
}

.contact-section {
    background: url('../img/layer-24.png'), #75b4aa;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.contact-section .col-md-6:first-child {
    padding-right: 25px;
}

.contact-section .col-md-6:last-child {
    padding-left: 25px;
}

.contact-section .title-contact {
    margin-bottom: 27px;
}

.contact-section .title-contact h4 {
    font-size: 1.875rem;
    font-family: Lato-Light, sans-serif;
    font-weight: 300;
}

.contact-section .contact-info {
    font-size: 1rem;
    font-family: Lato-Regular;
}

.contact-section .contact-info .d-flex {
    align-content: space-between;
}

.contact-section .contact-info .phone-label {
    width: 100px;
    display: inline-block;
    opacity: .8;
}

.contact-section img {
    width: 260px;
    border-radius: 4px;
}

.contact-section input, .contact-section textarea, .contact-section input:focus, .contact-section textarea:focus {
    border: none;
    outline: none;
}

.contact-section input[type="text"], .contact-section input[type="email"] {
    margin-bottom: 20px;
    padding: 13px 20px;
    width: 100%;
}

.contact-section input[type="text"], .contact-section input[type="email"], .contact-section textarea {
    background: #68a097;
    border-radius: 4px;
    padding: 13px 10px;
}

.contact-section input[type="text"]::placeholder, .contact-section input[type="email"]::placeholder, .contact-section textarea::placeholder {
    color: #82c8bd;
    text-transform: capitalize;
    font-family: Lato-Regular;
    font-size: 1rem;
}

.contact-section input[type="text"]:focus, .contact-section input[type="email"]:focus, .contact-section textarea:focus {
    background: #fff;
    color: #5B4B58;
}

.contact-section input[type="submit"] {
    text-align: center;
    background: #df5c64;
    font-family: Lato-Black, sans-serif;
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    border-bottom: 3px solid #c9525a;
    transition: .3 all ease-in-out;
    margin: auto;
    display: inline-block;
}

.contact-section .btn.d-flex {
    width: 100%;
    justify-content: center;
}

.contact-section input[type="submit"]:hover {
    background: #db6d74;
}

.contact-section textarea {
    width: 100%;
    height: 160px;
    flex: 0 0 100%;
    margin-bottom: 30px;
}

.form .col-6:first-child {
    padding-right: 10px;
}

.form .col-6:nth-child(2) {
    padding-left: 10px;
}

/******************************************************** END CONTACT SECTION */

/******************************************************** START FOOTER */

footer {
    background: #68a097;
}

footer .team-media {
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer .team-media li {
    margin: 0 20px;
    width: 60px;
    height: 60px;
}

footer .team-media li a {
    background: #82c7bc;
    transition: .3s all ease-in-out;
}

footer .team-media li a:hover {
    background: #82c7bbc9;
}

footer .team-media li a svg {
    height: 24px;
}

/******************************************************** END FOOTER */

.m-text {
    margin-bottom: 7.5rem;
}

.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.h-100 {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.d-block {
    display: block;
}

.relative {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-2 {
    font-family: Lato-Light, sans-serif;
    font-weight: 300;
    font-size: 3.75rem;
    color: #fff;
}

.text-3 {
    font-family: Lato-Regular, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #fff;
    letter-spacing: .3px;
}

.text-4 {
    font-family: Lato-Regular, sans-serif;
    font-weight: 300;
    font-size: .875rem;
    color: #fff;
    line-height: 1.25rem;
}

.text-5 {
    font-family: Lato-Light, sans-serif;
    font-weight: 300;
    font-size: 1.875rem;
}

.text-6 {
    font-family: Lato-Bold, sans-serif;
    font-size: 1.25rem;
}

.text-7 {
    font-family: Lato-Black, sans-serif;
    font-size: 1.5625rem;
}

.text-red {
    color: #ec9da2;
}

.p-7 {
    padding: 7.75rem 0;
}

@media (max-width:1200px) {
    .container {
        width: 900px;
    }
    .land-section .left-text {
        padding-right: 5px;
    }
    .land-section .left-text h1 {
        font-size: 3rem;
        margin-top: 4px;
    }
    .land-section .left-text h1 span {
        margin-top: 0px;
    }
    .land-section .right-text h1 {
        font-size: 8.4rem;
    }
    .p-7 {
        padding: 6.5rem 0;
    }
    .text-title {
        margin-top: 3.725rem;
        margin-bottom: 1.725rem;
    }
    .card-title {
        margin-bottom: 2rem;
    }
    .card.services {
        padding: 20px;
    }
    .contact-section .contact-info .phone-label {
        width: 100%;
        display: inline-block;
        opacity: .8;
    }
    .land-section .left-arrow {
        padding-left: 30px;
    }
    .land-section .right-arrow {
        padding-right: 30px;
    }
}

@media (max-width:992px) {
    .container {
        width: 850px;
    }
    .service-section .col-md-3, .team-section .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
    .portfolio-section .col-md-3 {
        -ms-flex: 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
        justify-content: center;
        align-items: center;
    }
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-section img {
        width: 100%;
    }
    .land-section .text-wrap {
        width: auto;
        display: block !important;
        text-align: right;
    }
    .text-wrap .left-text h1, .text-wrap .right-text h1 {
        text-align: right;
        padding: 0;
    }
    .text-wrap .left-text h1 {
        font-size: 4.1rem;
    }
    .team-section .li-icons {
        justify-content: center;
    }
    .team-section .team-media li {
        margin-right: 15px;
    }
    .team-section .team-media li::last-child {
        margin-right: 0;
    }
    .p-7 {
        padding: 3rem 0;
    }
    .text-2 {
        font-size: 3.125rem;
    }
    .portfolio-section .heading-wrap {
        margin-bottom: 3rem;
    }
    .service-section .card.services .icon {
        width: 100px;
        height: 100px;
    }
    .service-section .card.services .icon-wrap {
        margin-bottom: 15px;
    }
    .service-section .card.services svg {
        height: 50px;
    }
    .service-section .card.services .icon::after {
        width: 110%;
        height: 110%;
        border: 3px solid #fff;
        top: -5px;
        left: -5px;
    }
    .text-5 {
        font-size: 1.5625rem;
    }
    .text-3 {
        font-size: 1rem;
    }
    .team-section .li-icons {
        justify-content: center;
    }
    .team-section .card.team .icon {
        width: 100px;
        height: 100px;
    }
    .portfolio-section .tabs-wrap {
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }
    .tabs-title {
        text-align: center;
        margin-bottom: 15px;
    }
    .portfolio-section .tabs li.tabs-item {
        padding: 6px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
    }
    .d-flex.contact-info {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .d-flex.contact-info li {
        display: block;
        width: 100%;
    }
    .d-flex.contact-info li .phone-label {
        display: inline;
    }
    .land-section .left-arrow {
        padding-left: 15px;
    }
    .land-section .right-arrow {
        padding-right: 15px;
    }
    .land-section .arrow-wrap {
        width: 25px;
        height: 46px;
    }
}

@media (max-width:725px) {
    .container {
        width: 700px;
        max-width: 100%;
    }
    .contact-section img {
        width: 100%;
    }
    .portfolio-section .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .contact-section .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
    .contact-section .heading-wrap {
        margin-bottom: 4rem;
    }
    .contact-section .col-md-6:first-child, .contact-section .col-md-6:last-child, .contact-section .col-md-6:last-child {
        padding-right: 0px;
        padding-left: 0;
    }
    .navbar .toggle {
        display: block;
    }
    .navbar-collapse.active {
        display: block;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        display: none;
    }
    .navbar .navigation li {
        display: block;
        background: #75C8D6;
        border-bottom: 1px solid rgb(89, 182, 199);
    }
    .navbar .navigation li a {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
    }
    .navbar .navigation li:hover a {
        color: rgba(255, 255, 255, 0.712);
    }
    .navbar .navigation li {
        padding: 0;
        border-radius: 0;
    }
    .navbar .navigation li:last-child {
        margin-right: 0px;
    }
    .navbar .navigation li::after {
        display: none;
    }
    .text-wrap .right-text h1 {
        font-size: 6.1rem;
    }
    .text-wrap .left-text h1 {
        font-size: 3rem;
    }
    .land-section {
        height: 100vh;
    }
    .slider-dots {
        width: 100px;
    }
    .slider-dots button {
        width: 15px;
        height: 15px;
    }
    .label {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .label h3 {
        padding: 10px 32px;
    }
    .card.team {
        padding: 15px;
    }
    .p-7 {
        padding: 2rem 0;
    }
    .text-2 {
        font-size: 2.725rem;
    }
    footer .team-media li {
        margin: 0 10px;
        width: 35px;
        height: 35px;
    }
    footer .team-media li a svg {
        height: 15px;
    }
    .land-section .left-arrow, .land-section .right-arrow {
        display: none;
    }
}

@media (max-width:482px) {
    .container {
        width: 100%;
    }
    .service-section .col-md-3, .team-section .col-md-3, .contact-section .col-6, .contact-info .address, .contact-info .phone {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .portfolio-section .tabs li.tabs-item {
        padding: 6px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 14px;
    }
    .contact-info .col-6 {
        margin-bottom: 20px;
    }
    .contact-info li {
        display: block;
        width: 100%;
    }
    .contact-info .address, .contact-info .phone {
        text-align: center;
    }
    .contact-section .title-contact {
        text-align: center;
        font-weight: 300;
    }
    .form .col-6:first-child {
        padding-right: 0px;
    }
    .form .col-6:nth-child(2) {
        padding-left: 0px;
    }
    .text-wrap .right-text h1 {
        font-size: 5rem;
    }
    .text-wrap .left-text h1 {
        font-size: 2.45rem;
    }
}